<!doctype html>
<html lang="en" class="light-theme">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/assets/admin/images/favicon-32x32.png" type="image/png" />
    <!--plugins-->
    <link href="~/assets/admin/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="~/assets/admin/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/assets/admin/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <link href="~/assets/admin/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="~/assets/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/admin/css/bootstrap-extended.css" rel="stylesheet" />
    <link href="~/assets/admin/css/style.css" rel="stylesheet" />
    <link href="~/assets/admin/css/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- loader-->
    <link href="~/assets/admin/css/pace.min.css" rel="stylesheet" />


    <!--Theme Styles-->
    <link href="~/assets/admin/css/dark-theme.css" rel="stylesheet" />
    <link href="~/assets/admin/css/light-theme.css" rel="stylesheet" />
    <link href="~/assets/admin/css/semi-dark.css" rel="stylesheet" />
    <link href="~/assets/admin/css/header-colors.css" rel="stylesheet" />

    <link href="~/assets/libs/toast/toastr.css" rel="stylesheet" />
    <link href="~/assets/libs/angular-material/angular-material.css" rel="stylesheet" />
    <link href="~/assets/libs/angular-loading-bar/loading-bar.css" rel="stylesheet" />


    <title>Trang quản trị</title>
</head>

<body ng-app="shop" ng-controller="rootController">

    <div ui-view>

    </div>

    <!-- Bootstrap bundle JS -->
    <script src="~/assets/admin/js/bootstrap.bundle.min.js"></script>
    <!--plugins-->
    <script src="~/assets/libs/jquery/jquery.js"></script>
    <script src="~/assets/admin/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/assets/admin/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="~/assets/admin/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/assets/admin/js/pace.min.js"></script>


    <!--Begin AngularJs-->
    <script src="~/assets/libs/angular/angular.js"></script>
    <script src="~/assets/libs/angular-ui-router/angular-ui-router.js"></script>
    <script src="~/assets/libs/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/assets/libs/toast/toastr.min.js"></script>
    <script src="~/assets/libs/angular-material/angular-material.js"></script>
    <script src="~/assets/libs/angular-animate/angular-animate.js"></script>
    <script src="~/assets/libs/angular-aria/angular-aria.js"></script>
    <script src="~/assets/libs/bootbox/bootbox.js"></script>
    <script src="~/assets/libs/ckeditor/ckeditor.js"></script>
    <script src="~/assets/libs/ckfinder/ckfinder.js"></script>
    <script src="~/assets/libs/ngBootbox/ngBootbox.js"></script>
    <script src="~/assets/libs/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="~/assets/libs/angular-loading-bar/loading-bar.js"></script>
    <script src="~/assets/libs/angular-local-storage/angular-local-storage.js"></script>


    <script src="~/Areas/Admin/app/shared/modules/shop.common.js"></script>
    <script src="~/Areas/Admin/app/shared/filters/statusFilter.js"></script>
    <script src="~/Areas/Admin/app/shared/filters/statusBrandFilter.js"></script>
    <script src="~/Areas/Admin/app/shared/directives/pagerDirective.js"></script>
    <script src="~/Areas/Admin/app/shared/services/notificationService.js"></script>

    <script src="~/Areas/Admin/app/shared/services/authData.js"></script>
    <script src="~/Areas/Admin/app/shared/services/authenticationService.js"></script>
    <script src="~/Areas/Admin/app/shared/services/loginService.js"></script>

    <script src="~/Areas/Admin/app/shared/services/apiService.js"></script>

    <script src="~/Areas/Admin/app/shared/services/commonService.js"></script>

    <script src="~/Areas/Admin/app/components/products/products.module.js"></script>
    <script src="~/Areas/Admin/app/components/product_categories/product_categories.module.js"></script>
    <script src="~/Areas/Admin/app/components/brands/brands.module.js"></script>
    <script src="~/Areas/Admin/app/components/slides/slides.module.js"></script>

    <script src="~/Areas/Admin/app/app.js"></script>
    <script src="~/Areas/Admin/app/components/home/root.controller.js"></script>
    <script src="~/Areas/Admin/app/components/home/home.controller.js"></script>
    <script src="~/Areas/Admin/app/components/login/login.controller.js"></script>

    <script src="~/Areas/Admin/app/components/products/product_add.controller.js"></script>
    <script src="~/Areas/Admin/app/components/products/product_list.controller.js"></script>
    <script src="~/Areas/Admin/app/components/products/product_edit.controller.js"></script>
    <script src="~/Areas/Admin/app/components/products/product_details.controller.js"></script>

    <script src="~/Areas/Admin/app/components/product_categories/product_category_list.controller.js"></script>
    <script src="~/Areas/Admin/app/components/product_categories/product_category_add.controller.js"></script>
    <script src="~/Areas/Admin/app/components/product_categories/product_category_edit.controller.js"></script>

    <script src="~/Areas/Admin/app/components/brands/brand_list.controller.js"></script>
    <script src="~/Areas/Admin/app/components/brands/brand_add.controller.js"></script>
    <script src="~/Areas/Admin/app/components/brands/brand_edit.controller.js"></script>

    <script src="~/Areas/Admin/app/components/slides/slide_list.controller.js"></script>
    <script src="~/Areas/Admin/app/components/slides/slide_edit.controller.js"></script>
    <script src="~/Areas/Admin/app/components/slides/slide_add.controller.js"></script>



</body>

</html>