<!-- Main Container  -->
<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Thanh toán</a></li>

    </ul>

    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
            <h2 class="title">Thanh toán</h2>
            <div class="so-onepagecheckout row">
                <div class="col-left col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-sign-in"></i> Tạo một tài khoản hoặc đăng nhập</h4>
                        </div>
                        <div class="panel-body">
                            <div class="radio">
                                <label>
                                    <input type="radio" value="register" name="account">
                                    Đăng ký tài khoản</label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" checked="checked" value="guest" name="account">
                                    Khách thanh toán</label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" value="returning" name="account">
                                    Phản hồi khách hàng</label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-user"></i> Thông tin cá nhân</h4>
                        </div>
                        <div class="panel-body">
                            <fieldset id="account">
                                <div class="form-group required">
                                    <label for="input-payment-firstname" class="control-label">Họ tên</label>
                                    <input type="text" class="form-control" id="input-payment-firstname" placeholder="First Name" value="" name="firstname">
                                </div>
                                <div class="form-group required">
                                    <label for="input-payment-email" class="control-label">E-Mail</label>
                                    <input type="text" class="form-control" id="input-payment-email" placeholder="E-Mail" value="" name="email">
                                </div>
                                <div class="form-group required">
                                    <label for="input-payment-telephone" class="control-label">Điện thoại</label>
                                    <input type="text" class="form-control" id="input-payment-telephone" placeholder="Telephone" value="" name="telephone">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-book"></i>Địa chỉ của bạn</h4>
                        </div>
                        <div class="panel-body">
                            <fieldset id="address" class="required">
                                <div class="form-group">
                                    <label for="input-payment-company" class="control-label">Số nhà</label>
                                    <input type="text" class="form-control" id="input-payment-company" placeholder="Company" value="" name="company">
                                </div>
                                <div class="form-group required">
                                    <label for="input-payment-address-1" class="control-label">Tỉnh/Thành phố, Quận/Huyện, Phường,/Xã</label>
                                    <input type="text" class="form-control" id="input-payment-address-1" placeholder="Address 1" value="" name="address_1">
                                </div>
                                <div class="form-group">
                                    <label for="input-payment-address-2" class="control-label">Địa chỉ cụ thể</label>
                                    <input type="text" class="form-control" id="input-payment-address-2" placeholder="Address 2" value="" name="address_2">
                                </div>
                                
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" value="1" name="shipping_address">
                                        Địa chỉ giao hàng và thanh toán của tôi giống nhau.</label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-right col-sm-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default no-padding">
                                <div class="col-sm-6 checkout-shipping-methods">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><i class="fa fa-truck"></i> Phương thức vận chuyển</h4>
                                    </div>
                                    <div class="panel-body ">
                                        <p>Vui lòng chọn phương thức vận chuyển để sử dụng cho đơn hàng này.</p>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" checked="checked" name="FreeShipping">
                                                Chuyển phát nhanh - 100.000đ</label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="FlatShippingRate">
                                                Bình thường - 50.000đ</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-6  checkout-payment-methods">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><i class="fa fa-credit-card"></i> Phương thức thanh toán</h4>
                                    </div>
                                    <div class="panel-body">
                                        <p>Vui lòng chọn phương thức thanh toán để sử dụng cho đơn hàng này.</p>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" checked="checked" name="CashOnDelivery">Thanh toán khi nhận hàng</label>
                                        </div>

                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="Paypal">Chuyển khoản</label>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        

                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="fa fa-shopping-cart"></i>Giỏ hàng</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <td class="text-center">Hình ảnh</td>
                                                <td class="text-left">Tên sản phẩm</td>
                                                <td class="text-left">Số lượng</td>
                                                <td class="text-right">Đơn giá</td>
                                                <td class="text-right">Tổng tiền</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="text-center"><a href="product.html"><img width="60px" src="image/catalog/demo/product/funiture/10.jpg" alt="Xitefun Causal Wear Fancy Shoes" title="Xitefun Causal Wear Fancy Shoes" class="img-thumbnail"></a></td>
                                                <td class="text-left"><a href="product.html">Emasa rumas gacem</a></td>
                                                <td class="text-left"><div class="input-group btn-block" style="min-width: 100px;">
                                                    <input type="text" name="quantity" value="1" size="1" class="form-control">
                                                    <span class="input-group-btn">
										<button type="submit" data-toggle="tooltip" title="Update" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
										<button type="button" data-toggle="tooltip" title="Remove" class="btn btn-danger" onClick=""><i class="fa fa-times-circle"></i></button>
										</span></div></td>
                                                <td class="text-right">$114.35</td>
                                                <td class="text-right">$114.35</td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td class="text-right" colspan="4"><strong>Sub-Total:</strong></td>
                                                <td class="text-right">$93.73</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right" colspan="4"><strong>Flat Shipping Rate:</strong></td>
                                                <td class="text-right">$4.69.00</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right" colspan="4"><strong>Eco Tax (-2.00):</strong></td>
                                                <td class="text-right">$3.75.00</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right" colspan="4"><strong>VAT (20%):</strong></td>
                                                <td class="text-right">$19.68</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right" colspan="4"><strong>Total:</strong></td>
                                                <td class="text-right">$121.85</td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="fa fa-pencil"></i> Thêm bình luận về đơn hàng của bạn.</h4>
                                </div>
                                <div class="panel-body">
                                    <textarea rows="4" class="form-control" id="confirm_comment" name="comments"></textarea>
                                    <br>
                                    <label class="control-label" for="confirm_agree">
                                        <input type="checkbox" checked="checked" value="1" required="" class="validate required" id="confirm_agree" name="confirm">
                                        <span>Tôi đã đọc và đồng ý với <a class="agree" href="#"><b>Điều khoản &amp; Điều kiện</b></a></span> </label>
                                    <div class="buttons">
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-primary" id="button-confirm">Xác nhận đơn hàng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Middle Part End -->

    </div>
</div>
<!-- //Main Container -->