 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4">
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Tổng số đơn hàng</p>
                        <h4 class="my-1">{{statistical.TotalOrders}}</h4>
                    </div>
                    <div class="widget-icon-large bg-gradient-purple text-white ms-auto">
                        <i class="bi bi-basket2-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Tổng doanh thu</p>
                        <h4 class="my-1">{{statistical.TotalRevenue | currency : "" : 0}}</h4>
                    </div>
                    <div class="widget-icon-large bg-gradient-success text-white ms-auto">
                        <i class="bi bi-currency-exchange"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Tổng số khách hàng</p>
                        <h4 class="my-1">{{statistical.TotalCustomer | currency : "" : 0}}</h4>
                    </div>
                    <div class="widget-icon-large bg-gradient-danger text-white ms-auto">
                        <i class="bi bi-people-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Tỷ lệ thoát</p>
                        <h4 class="my-1">38.15%</h4>
                    </div>
                    <div class="widget-icon-large bg-gradient-info text-white ms-auto">
                        <i class="bi bi-bar-chart-line-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div><!--end row-->

<div class="row">
    <div class="col-12 col-lg-6 col-xl-4 d-flex">
        <div class="card radius-10 w-100">
            <div class="card-header bg-transparent">
                <div class="row g-3 align-items-center">
                    <div class="col">
                        <h5 class="mb-0">TOP DANH MỤC</h5>
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-center justify-content-end gap-3 cursor-pointer">
                            <div class="dropdown">
                                <a class="dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bx bx-dots-horizontal-rounded font-22 text-option"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="javascript:;">Action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:;">Another action</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:;">Something else here</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="categories">
                    <div ng-repeat="category in statistical.TopProductCategoryViewModels">
                        <div class="my-3 border-top"></div>
                        <div class="progress-wrapper">
                            <p class="mb-2">{{category.Name}} <span class="float-end">85%</span></p>
                            <div class="progress" style="height: 6px;">
                                <div class="progress-bar bg-gradient-purple" role="progressbar" style="width: 85%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-4 d-flex">
        <div class="card radius-10 w-100">
            <div class="card-header bg-transparent">
                <div class="row g-3 align-items-center">
                    <div class="col">
                        <h5 class="mb-0">TOP SẢN PHẨM</h5>
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-center justify-content-end gap-3 cursor-pointer">
                            <div class="dropdown">
                                <a class="dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bx bx-dots-horizontal-rounded font-22 text-option"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="javascript:;">Action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:;">Another action</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:;">Something else here</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="best-product p-2 mb-3">
                    <div class="best-product-item" ng-repeat="product in statistical.TopProductViewModels">
                        <div class="d-flex align-items-center gap-3">
                            <div class="product-box border">
                                <img src="{{product.Image}}" alt="">
                            </div>
                            <div class="product-info">
                                <h6 class="product-name mb-1">{{product.Name}}</h6>
                                <div class="product-rating mb-0">
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                </div>
                            </div>
                            <div class="sales-count ms-auto">
                                <p class="mb-0">{{product.QuantityHasSell}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-12 col-xl-4 d-flex">
        <div class="card radius-10 w-100">
            <div class="card-header bg-transparent">
                <div class="row g-3 align-items-center">
                    <div class="col">
                        <h5 class="mb-0">TOP KHÁCH HÀNG</h5>
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-center justify-content-end gap-3 cursor-pointer">
                            <div class="dropdown">
                                <a class="dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bx bx-dots-horizontal-rounded font-22 text-option"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="javascript:;">Action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:;">Another action</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:;">Something else here</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-sellers-list p-2 mb-3">
                <div class="d-flex align-items-center gap-3 sellers-list-item" ng-repeat="user in statistical.TopUsers">
                    <img src="/assets/admin/images/avatars/avatar-1.png" class="rounded-circle" width="50" height="50" alt="">
                    <div>
                        <h6 class="mb-1">{{user.FullName}}</h6>
                        <p class="mb-0 font-13">UserName @{{user.UserName}}</p>
                    </div>
                    <div class="d-flex align-items-center gap-3 fs-6 ms-auto">
                        <p class="mb-0">5.0 <i class="bi bi-star-fill text-warning"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--end row-->


<div class="card radius-10">
    <div class="card-header bg-transparent">
        <div class="row g-3 align-items-center">
            <div class="col">
                <h5 class="mb-0">ĐƠN HÀNG GẦN ĐÂY</h5>
            </div>
            <div class="col">
                <div class="d-flex align-items-center justify-content-end gap-3 cursor-pointer">
                    <div class="dropdown">
                        <a class="dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bx bx-dots-horizontal-rounded font-22 text-option"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="javascript:;">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="javascript:;">Another action</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="javascript:;">Something else here</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table align-middle mb-0">
                <thead class="table-light">
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Tổng thanh toán</th>
                    <th>Trạng thái</th>
                    <th>Ngày đặt</th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="order in statistical.RecentOrders">
                    <td>#{{order.Id}}</td>
                    <td>{{order.CustomerName}}</td>
                    <td>{{order.TotalPayment | currency : "" : 0}}</td>
                    <td><span ng-class="{'badge rounded-pill alert-success': order.OrderStatus === 2, 'badge rounded-pill alert-danger': order.OrderStatus === 1}">{{order.OrderStatusText}}</span></td>
                    <td>{{order.CreatedDate| date : "dd/MM/yyyy"}}</td>
                    <td>
                        <div class="d-flex align-items-center gap-3 fs-6" style="display: flex; justify-content: center;">
                            <a ui-sref="order_detail({id: order.Id})" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="View detail" aria-label="Views"><i class="bi bi-eye-fill"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



