<!-- Main Container  -->
<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Giỏ hàng</a></li>
    </ul>

    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12" ng-if="carts.length !== 0">
            <h2 class="title">Giỏ hàng</h2>
            <div class="table-responsive form-group">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="text-center">Hình ảnh</td>
                            <td class="text-left">Tên sản phẩm</td>
                            <td class="text-left">Mã sản phẩm</td>
                            <td class="text-left">Số lượng</td>
                            <td class="text-right">Đơn giá</td>
                            <td class="text-right">Tổng tiền</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in carts">
                            <td class="text-center"><a ui-sref="product_details({id:product.ProductId})"><img width="70px" src="{{product.Image}}" alt="{{product.Name}}" title="{{product.Name}}" class="img-thumbnail" /></a></td>
                            <td class="text-left">
                                <a ui-sref="product_details({id:product.ProductId})">{{product.Name}}</a><br />
                            </td>
                            <td class="text-left">#{{product.ProductId}}</td>
                            <td class="text-left" width="200px">
                                <div class="input-group btn-block quantity">
                                    <input type="number" name="quantity"  size="1" class="form-control" ng-model="product.Quantity" min="1"/>
                                    <span class="input-group-btn">
                                        <button style="border: none" type="button" data-toggle="tooltip" title="Cập nhập" class="btn btn-primary" ng-click="updateProductShoppingCart(product.ProductId)"><i class="fa fa-clone"></i></button>
                                        <button style="border: none" type="button" data-toggle="tooltip" title="Xóa" class="btn btn-danger" ng-click="deleteProduct(product.ProductId)"><i class="fa fa-times-circle"></i></button>
                                    </span>
                                </div>
                            </td>
                            <td class="text-right">{{product.Price  | currency : "" : 0}}</td>
                            <td class="text-right">{{product.Price * product.Quantity | currency : "" : 0}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="buttons" style="margin: -18px 0 10px 0; display: flex; justify-content: flex-start; gap: 10px">
                <button style="border: none" type="button" class="btn btn-primary" ng-click="deleteShoppingCart()">Xóa giỏ hàng</button>
                <button style="border: none" type="button" class="btn btn-primary" ng-click="updateShoppingCart()">Cập nhập giỏ hàng</button>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="text-right">
                                    <strong>Tổng tiền</strong>
                                </td>
                                <td class="text-right">{{totalCart | currency : "" : 0}}</td>
                            </tr>
                            <tr>
                                <td class="text-right">
                                    <strong>Phí vận chuyển</strong>
                                </td>
                                <td class="text-right">{{transportFee | currency : "" : 0}}</td>
                            </tr>
                           
                            <tr>
                                <td class="text-right">
                                    <strong>Thuế (20%):</strong>
                                </td>
                                <td class="text-right">{{totalCart * vat / 100 | currency : "" : 0}}</td>
                            </tr>
                            <tr>
                                <td class="text-right">
                                    <strong>Tổng thanh toán:</strong>
                                </td>
                                <td class="text-right">{{(totalCart + totalCart * vat / 100 + transportFee) | currency : "" : 0}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="buttons" style="margin: 0 0 20px 0; display: flex; justify-content: flex-end; gap: 10px">
                <button style="border: none" type="button" class="btn btn-primary"><a ui-sref="home" style="color: white">Tiếp tục mua hàng</a></button>
                <button style="border: none" type="button" class="btn btn-primary"><a ui-sref="checkout" style="color: white">Thanh toán</a></button>
            </div>
        </div>
        <!--Middle Part End -->

        <!--Middle Part Start-->
        <div class="col-sm-12" ng-if="carts.length === 0">
            <div class="row" style="display: flex; justify-content: center; align-items: center;flex-direction: column; gap:10px; margin: 10px 0;">
                <img src="https://www.xanh.farm/assets/images/no-cart.png" alt="Giỏ hàng trống">
                <p style="padding: 10px 0 0 0; font-size: 15px;">Giỏ hàng của bạn đang trống!</p>
                <button style="border: none" type="button" class="btn btn-danger">
                    <a ui-sref="home" style="color: white; font-size: 16px;">Mua hàng</a>
                </button>
            </div>
        </div>
        <!--Middle Part End -->
    </div>
</div>
<!-- //Main Container -->
