<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Hàng hóa</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Danh sách sản phẩm</li>
            </ol>
        </nav>
    </div>
    <div class="ms-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                <a class="dropdown-item" href="javascript:;">Action</a>
                <a class="dropdown-item" href="javascript:;">Another action</a>
                <a class="dropdown-item" href="javascript:;">Something else here</a>
                <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
            </div>
        </div>
    </div>
</div>
<!--end breadcrumb-->

<div class="card">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-6">
                <md-content class="md-padding" ng-cloak>
                    <div layout="row" layout-xs="column">

                        <div flex-gt-xs="100">
                            <form ng-submit="$event.preventDefault()">
                                <md-autocomplete id="virtual-autocomplete"
                                                 ng-disabled="isDisabled"
                                                 md-no-cache="noCache"
                                                 md-selected-item="selectedItem"
                                                 md-search-text-change="searchTextChange(searchText)"
                                                 md-search-text="searchText"
                                                 md-selected-item-change="selectedItemChange(item)"
                                                 md-items="item in querySearch(searchText)"
                                                 md-item-text="item.name"
                                                 md-min-length="0"
                                                 md-escape-options="clear"
                                                 input-aria-describedby="virtual-autocomplete-description"
                                                 input-aria-label="Current Repository"
                                                 placeholder="Tìm kiếm sản phẩm"
                                                 md-menu-class="autocomplete-virtual-template"
                                                 md-menu-container-class="virtual-container"
                                                 md-mode="virtual">
                                    <md-item-template>
                                        <span class="item-title">
                                            <span> {{item.name}} </span>
                                        </span>
                                        <p class="item-desc">
                                            {{item.desc | limitTo:40}}{{item.desc.length > 40 ? '...': ''}}
                                        </p>
                                        <span class="item-metadata">
                                            <span>
                                                <strong>{{item.watchers}}</strong> watchers
                                            </span>
                                            <span>
                                                <strong>{{item.forks}}</strong> forks
                                            </span>
                                        </span>
                                    </md-item-template>
                                </md-autocomplete>
                            </form>
                        </div>
                    </div>
                </md-content>
            </div>
            <div class="col-lg-6 col-xl-6">
                <form class="float-lg-end">
                    <div class="row row-cols-lg-auto g-2">
                        <div class="col-12">
                            <a href="javascript:;" class="btn btn-success mb-3 mb-lg-0"><i class="bi bi-download" style="padding-right:6px"></i>Export</a>
                        </div>
                        <div class="col-12">
                            <a href="javascript:;" class="btn btn-success mb-3 mb-lg-0"><i class="bi bi-upload" style="padding-right:6px"></i>Import</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <!--start sidebar -->
        <aside class="sidebar-wrapper" data-simplebar="true">
            <!--navigation-->
            <ul class="metismenu" id="menu">
                <li>
                    <a href="javascript:;" class="has-arrow">
                        <div class="parent-icon">
                            <i class="bi bi-house-door"></i>
                        </div>
                        <div class="menu-title">Dashboard</div>
                    </a>
                    <ul>
                        <li>
                            <a href="index.html"><i class="bi bi-arrow-right-short"></i>eCommerce</a>
                        </li>
                        <li>
                            <a href="index2.html"><i class="bi bi-arrow-right-short"></i>Sales</a>
                        </li>
                        <li>
                            <a href="index3.html"><i class="bi bi-arrow-right-short"></i>Analytics</a>
                        </li>
                        <li>
                            <a href="index4.html"><i class="bi bi-arrow-right-short"></i>Project Management</a>
                        </li>
                        <li>
                            <a href="index5.html"><i class="bi bi-arrow-right-short"></i>CMS Dashboard</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="has-arrow">
                        <div class="parent-icon">
                            <i class="bi bi-house-door"></i>
                        </div>
                        <div class="menu-title">Dashboard</div>
                    </a>
                    <ul>
                        <li>
                            <a href="index.html"><i class="bi bi-arrow-right-short"></i>eCommerce</a>
                        </li>
                        <li>
                            <a href="index2.html"><i class="bi bi-arrow-right-short"></i>Sales</a>
                        </li>
                        <li>
                            <a href="index3.html"><i class="bi bi-arrow-right-short"></i>Analytics</a>
                        </li>
                        <li>
                            <a href="index4.html"><i class="bi bi-arrow-right-short"></i>Project Management</a>
                        </li>
                        <li>
                            <a href="index5.html"><i class="bi bi-arrow-right-short"></i>CMS Dashboard</a>
                        </li>
                    </ul>
                </li>
            </ul>   
            <!--end navigation-->
        </aside>
        <!--end sidebar -->
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-header py-3">
                <div class="row align-items-center m-0">
                    <div class="col-md-6 col-12 me-auto mb-md-0 mb-3">
                        <a ui-sref="product_add" class="btn btn-primary mb-3 mb-lg-0"><i class="bi bi-plus-square-fill" style="padding-right:6px"></i>Thêm sản phẩm</a>
                        <button ng-click="deleteMultiple()" id="btnDelete" class="btn btn-primary mb-3 mb-lg-0"><i class="bi bi-plus-square-fill" style="padding-right:6px"></i>Xóa sản phẩm</button>
                    </div>
                    <div class="col-md-3 col-6">
                        <select class="form-select">
                            <option value="all">Tất cả</option>
                            <option value="">Đang mở bán</option>
                            <option value="">Chưa mở bán</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle mb-0">
                        <thead class="table-light">
                            <tr>
                                <th><label><input name="all" type="checkbox" ng-click="selectAll()" /> All </label></th>
                                <th>#ID</th>
                                <th>Sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Giá</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="old" ng-repeat="item in products">
                                <td> <input type="checkbox" ng-model="item.checked" name="all" /> </td>
                                <td>#{{item.Id}}</td>
                                <td>
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="product-box border">
                                            <img src="{{item.Image}}" alt="">
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-name mb-1">{{item.Name}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>{{item.Quantity}}</td>
                                <td>{{ item.Price | currency : ""}}</td>
                                <td>
                                    <div ng-class="{'badge bg-success':item.Status === true, 'badge bg-danger':item.Status === false }">
                                        {{item.Status | statusFilter}}
                                    </div>
                                </td>
                                <td>
                                    <button ng-click="showProductDetails(item.Id)" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Xem thông tin">
                                        <i class="bi bi-eye-fill"></i>
                                    </button>
                                    <button ui-sref="product_edit({id:item.Id})" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sửa sản phẩm">
                                        <i class="bi bi-pencil-fill"></i>
                                    </button>
                                    <button ng-click="deleteProduct(item.Id)" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Xóa sản phẩm">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info"
                             id="example_info"
                             role="status"
                             aria-live="polite">
                            <!--Hiển thị từ {{}} đến {{}} trong tổng số {{}}-->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pageCount}}" total-count="{{totalCount}}" search-func="getListProduct(page)"></pager-directive>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>