<!-- Main Container  -->
<div class="main-container">
    <div id="content">
        <div class="module sohomepage-slider ">
            <div class="yt-content-slider" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1" data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="no" data-pagination="yes" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                <div class="yt-content-slide" ng-repeat="slide in groupSlides">
                    <a href="{{slide.Image}}"><img src="{{slide.Image}}" alt="slider1" class="img-responsive" style="width: 100%;"></a>
                </div>
            </div>

            <div class="loadeding"></div>
        </div>

        <div class="container">
            <div class="block-policy2">
                <ul>
                    <li class="item-1">
                        <div class="item-inner">
                            <div class="icon icon1"></div>
                            <div class="content">
                                <a href="#">free delivery</a>
                                <p>From $59.89</p>
                            </div>
                        </div>
                    </li>
                    <li class="item-2">
                        <div class="item-inner">
                            <div class="icon icon2"></div>
                            <div class="content">
                                <a href="#">support 24/7</a>
                                <p>Online 24 hours</p>
                            </div>
                        </div>
                    </li>
                    <li class="item-3">
                        <div class="item-inner">
                            <div class="icon icon3"></div>
                            <div class="content">
                                <a href="#">free return</a>
                                <p>365 a day</p>
                            </div>
                        </div>
                    </li>
                    <li class="item-4">
                        <div class="item-inner">
                            <div class="icon icon4"></div>
                            <div class="content">
                                <a href="#">payment method</a>
                                <p>secure payment</p>
                            </div>
                        </div>
                    </li>
                    <li class="item-5">
                        <div class="item-inner">
                            <div class="icon icon5"></div>
                            <div class="content">
                                <a href="#">big saving</a>
                                <p>weekend sales</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="so-categories module custom-slidercates">
                <h3 class="modtitle"><span>Mua sắm theo danh mục</span></h3>
                <div class="modcontent">
                    <div class="cat-wrap theme3 font-title">
                        <div class="yt-content-slider" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="7" data-items_column1="4" data-items_column2="4" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                            <div class="content-box" ng-repeat="productCategory in rootProductCategories">
                                <div class="image-cat">
                                    <a href="#" title="Towels Cloud" target="_self">
                                        <img src="{{productCategory.Image}}" title="{{productCategory.Name}}" alt="{{productCategory.Name}}" />
                                    </a>
                                </div>
                                <div class="cat-title">
                                    <a href="#" title="{{productCategory.Name}} " target="_self">{{productCategory.Name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banners banners1">
                <div class="banner">
                    <a href="#">
                        <img src="{{groupBanners[0].Image}}" alt="image" style="width: 100%;">
                    </a>
                </div>
            </div>

            <list-product-one-home-view></list-product-one-home-view>

            <div class="row sliderimages ">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 "></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 inner">
                    <div class="slider-images">
                        <div class="yt-content-slider" data-rtl="yes" data-loop="yes" data-autoplay="no" data-autoheight="no" data-autowidth="no" data-delay="4" data-speed="0.6" data-margin="10" data-items_column0="1" data-items_column1="1" data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-hoverpause="yes">
                            <div class="item" ng-repeat="slideBanner in groupSlideBanners">
                                <a href="#">
                                    <img src="{{slideBanner.Image}}" alt="image" style="width: 100%;">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12"></div>
            </div>

            <!-- Listing tabs order -->
            <list-product-two-home-view></list-product-two-home-view>
            <!-- end Listing tabs order -->

            <div class="slider-brands">
                <div class="yt-content-slider contentslider" data-rtl="no" data-loop="yes" data-autoplay="no" data-autoheight="no" data-autowidth="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="8" data-items_column1="6" data-items_column2="3" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-hoverpause="yes">
                    <div class="item" ng-repeat="brand in brands">
                        <a href="#">
                            <img src="{{brand.Image}}" alt="brand" style="width:120px; height: 120px;">
                        </a>
                    </div>
                </div>
            </div>

            <!-- List post home -->
            <list-post-home-view></list-post-home-view>
            <!-- End list post home -->
        </div>
    </div>
</div>


