<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Sản phẩm</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Danh mục sản phẩm
                </li>
            </ol>
        </nav>
    </div>
    <div class="ms-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                <a class="dropdown-item" href="javascript:;">Action</a>
                <a class="dropdown-item" href="javascript:;">Another action</a>
                <a class="dropdown-item" href="javascript:;">Something else here</a>
                <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
            </div>
        </div>
    </div>
</div>
<!--end breadcrumb-->
<div class="row">
    <div class="col-xl-11 mx-auto mt-1">
        <div class="card">
            <div class="card-body">
                <div class="border p-4 rounded">
                    <div class="card-title d-flex align-items-center">
                        <h5 class="mb-0">Cập nhập danh mục sản phẩm</h5>
                    </div>
                    <hr />
                    <form novalidate name="frmUpdateProductCategory" role="form" ng-submit="UpdateProductCategory()">
                        <div class="row mb-3">
                            <label for="inputEnterName" class="col-sm-3 col-form-label">Tên danh mục</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputEnterName" name="name" required ng-maxlength="256" ng-model="productCategory.Name" ng-change="GetSeoTitle()">
                                <div ng-show="frmUpdateProductCategory.name.$invalid" class="invalid-feedback d-block">Tên danh mục không được để trống.</div>
                                <div ng-show="frmUpdateProductCategory.name.$error.maxlength" class="invalid-feedback d-block">Tên danh mục quá dài ( phải < 256 ký tự ).</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-labell">Hình ảnh</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <button type="button" class="input-group-text" ng-click="ChooseImage()">Chọn ảnh</button>
                                    <input type="text" class="form-control" name="image" ng-maxlength="256" ng-model="productCategory.Image">
                                </div>
                                <div ng-show="frmAddProductCategory.image.$error.maxlength" class="invalid-feedback d-block">Đường dẫn quá dài ( phải < 256 ký tự ).</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEnterAlias" class="col-sm-3 col-form-label">Alias</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputEnterAlias" ng-maxlength="256" required name="alias" ng-model="productCategory.Alias">
                                <div ng-show="frmUpdateProductCategory.alias.$invalid" class="invalid-feedback d-block">Alias không được để trống.</div>
                                <div ng-show="frmUpdateProductCategory.alias.$error.maxlength" class="invalid-feedback d-block">Alias quá dài ( phải < 256 ký tự ).</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEnterDescription" class="col-sm-3 col-form-label">Mô tả ngắn</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputEnterDescription" name="description" ng-maxlength="500" ng-model="productCategory.Description">
                                <div ng-show="frmUpdateProductCategory.description.$error.maxlength" class="invalid-feedback d-block">Mô tả quá dài ( phải < 500 ký tự ).</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEnterParentId" class="col-sm-3 col-form-label">Danh mục cha</label>
                            <div class="col-sm-9">
                                <select class="form-select" name="parentId" ng-model="productCategory.ParentId" ng-options="option.Id as option.Name for option in parentCategories">
                                    <option value="">Danh mục gốc</option>
                                </select>
                                <input type="hidden" name="parentId" ng-model="productCategory.ParentId" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEnterDisplayOrder" class="col-sm-3 col-form-label">Thứ tự</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="inputEnterDisplayOrder" required name="displayOrder" ng-model="productCategory.DisplayOrder">
                                <div ng-show="frmUpdateProductCategory.displayOrder.$invalid" class="invalid-feedback d-block">Thứ tự không được để trống.</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEnterImage" class="col-sm-3 col-form-label">Hình ảnh</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputEnterImage" ng-maxlength="256" name="image" ng-model="productCategory.Image">
                                <div ng-show="frmUpdateProductCategory.image.$error.maxlength" class="invalid-feedback d-block">Đường dẫn quá dài ( phải < 256 ký tự ).</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEnterMetaKeyword" class="col-sm-3 col-form-label">Meta Keyword</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputEnterMetaKeyword" name="metaKeyword" ng-model="productCategory.MetaKeyword">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEnterMetaDescription" class="col-sm-3 col-form-label">Meta Description</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="inputEnterMetaDescription" name="metaDescription" ng-model="productCategory.MetaDescription"></textarea>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputCheckStatus" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="inputCheckStatus" name="status" ng-model="productCategory.Status" ng-checked="productCategory.Status">
                                    <label class="form-check-label" for="inputCheckStatus">Kích hoạt</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputCheckHomeFlag" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="inputCheckHomeFlag" name="homeFlag" ng-model="productCategory.HomeFlag" ng-checked="productCategory.HomeFlag">
                                    <label class="form-check-label" for="inputCheckHomeFlag">Hiển thị trang chủ</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9 d-flex justify-content-end">
                                <button ui-sref="product_categories" class="btn btn-primary px-5 me-2">Quay lại</button>
                                <button type="submit" class="btn btn-primary px-5" ng-disabled="frmUpdateProductCategory.$invalid">Cập nhập</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>