<div class="module so-latest-blog blog-home blog-home2">
    <h3 class="modtitle"><span>Our Latest Blogs</span></h3>
    <div class="modcontent clearfix">
        <div class="so-blog-external">
            <div class="yt-content-slider blog-external" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="4" data-items_column1="3" data-items_column2="2" data-items_column3="2" data-items_column4="1" data-arrows="no" data-pagination="yes" data-lazyload="yes" data-loop="no" data-hoverpause="yes">

                <div class="media">
                    <div class="item">
                        <div class="media-left">
                            <a href="#" target="_self">
                                <img src="/assets/client/image/catalog/blog/2.jpg" alt="Lorem ipsum dolor sit amet" />
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="media-content">
                                <h4 class="media-heading font-title">
                                    <a href="#" title="Lorem ipsum dolor sit amet" target="_self">Lorem ipsum dolor sit amet</a>
                                </h4>
                                <div class="media-date-added idx-other">
                                    <i class="fa fa-calendar"></i><span class="media-date-added"> November 15th, 2017</span>
                                </div>
                                <div class="media-subcontent">
                                    <span class="media-comment"><i class="fa fa-comments"></i> 0  Comment</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="media">
                    <div class="item">
                        <div class="media-left">
                            <a href="#" target="_self">
                                <img src="/assets/client/image/catalog/blog/3.jpg" alt="Kire tuma feugiat" />
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="media-content">
                                <h4 class="media-heading font-title">
                                    <a href="#" title="Kire tuma feugiat" target="_self">Kire tuma feugiat</a>
                                </h4>
                                <div class="media-date-added idx-other">
                                    <i class="fa fa-calendar"></i><span class="media-date-added"> November 15th, 2017</span>
                                </div>
                                <div class="media-subcontent">
                                    <span class="media-comment"><i class="fa fa-comments"></i> 0  Comment</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="item">
                        <div class="media-left">
                            <a href="#" target="_self">
                                <img src="/assets/client/image/catalog/blog/4.jpg" alt="Kire tuma demons vel eum iriure" />
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="media-content">
                                <h4 class="media-heading font-title">
                                    <a href="#" title="Kire tuma demons vel eum iriure" target="_self">Kire tuma demons vel eum iriure</a>
                                </h4>
                                <div class="media-date-added idx-other">
                                    <i class="fa fa-calendar"></i><span class="media-date-added"> November 15th, 2017</span>
                                </div>
                                <div class="media-subcontent">
                                    <span class="media-comment"><i class="fa fa-comments"></i> 0  Comment</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="item">
                        <div class="media-left">
                            <a href="#" target="_self">
                                <img src="/assets/client/image/catalog/blog/5.jpg" alt="minim veniam  justo duo dolores" />
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="media-content">
                                <h4 class="media-heading font-title">
                                    <a href="#" title="Minim veniam  justo duo dolores" target="_self">Lorem ipsum dolor sit amet</a>
                                </h4>
                                <div class="media-date-added idx-other">
                                    <i class="fa fa-calendar"></i><span class="media-date-added"> November 15th, 2017</span>
                                </div>
                                <div class="media-subcontent">
                                    <span class="media-comment"><i class="fa fa-comments"></i> 0  Comment</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="media">
                    <div class="item">
                        <div class="media-left">
                            <a href="#" target="_self">
                                <img src="/assets/client/image/catalog/blog/6.jpg" alt="Duis autem vel eum tempor inviduntt" />
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="media-content">
                                <h4 class="media-heading font-title">
                                    <a href="#" title="Duis autem vel eum tempor invidunt" target="_self">Duis autem vel eum tempor invidunt</a>
                                </h4>
                                <div class="media-date-added idx-other">
                                    <i class="fa fa-calendar"></i><span class="media-date-added"> November 15th, 2017</span>
                                </div>
                                <div class="media-subcontent">
                                    <span class="media-comment"><i class="fa fa-comments"></i> 0  Comment</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="media">
                    <div class="item">
                        <div class="media-left">
                            <a href="#" target="_self">
                                <img src="/assets/client/image/catalog/blog/7.jpg" alt="Tuma demons vel eum iriure dolor" />
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="media-content">
                                <h4 class="media-heading font-title">
                                    <a href="#" title="Tuma demons vel eum iriure dolor" target="_self">Tuma demons vel eum iriure dolor</a>
                                </h4>
                                <div class="media-date-added idx-other">
                                    <i class="fa fa-calendar"></i><span class="media-date-added"> November 15th, 2017</span>
                                </div>
                                <div class="media-subcontent">
                                    <span class="media-comment"><i class="fa fa-comments"></i> 0  Comment</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="media">
                    <div class="item">
                        <div class="media-left">
                            <a href="#" target="_self">
                                <img src="/assets/client/image/catalog/blog/8.jpg" alt="Kire tuma demons vel eum iriure" />
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="media-content">
                                <h4 class="media-heading font-title">
                                    <a href="#" title="Kire tuma demons vel eum iriure" target="_self">Kire tuma demons vel eum iriure</a>
                                </h4>
                                <div class="media-date-added idx-other">
                                    <i class="fa fa-calendar"></i><span class="media-date-added"> November 15th, 2017</span>
                                </div>
                                <div class="media-subcontent">
                                    <span class="media-comment"><i class="fa fa-comments"></i> 0  Comment</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="media">
                    <div class="item">
                        <div class="media-left">
                            <a href="#" target="_self">
                                <img src="/assets/client/image/catalog/blog/9.jpg" alt="minim veniam  justo duo dolores" />
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="media-content">
                                <h4 class="media-heading font-title">
                                    <a href="#" title="Minim veniam  justo duo dolores" target="_self">Lorem ipsum dolor sit amet</a>
                                </h4>
                                <div class="media-date-added idx-other">
                                    <i class="fa fa-calendar"></i><span class="media-date-added"> November 15th, 2017</span>
                                </div>
                                <div class="media-subcontent">
                                    <span class="media-comment"><i class="fa fa-comments"></i> 0  Comment</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>