<!--start navigation-->
<div class="nav-container">
    <div class="mobile-topbar-header">
        <div>
            <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Skodash</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class="bi bi-chevron-double-left"></i>
        </div>
    </div>
    <nav class="topbar-nav">
        <ul class="metismenu" id="menu">
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon"><i class="bi bi-house-door"></i>
                    </div>
                    <div class="menu-title">Dashboard</div>
                </a>
                <ul>
                    <li> <a href="index.html"><i class="bi bi-arrow-right-short"></i>eCommerce</a>
                    </li>
                    <li> <a href="index2.html"><i class="bi bi-arrow-right-short"></i>Sales</a>
                    </li>
                    <li> <a href="index3.html"><i class="bi bi-arrow-right-short"></i>Analytics</a>
                    </li>
                    <li> <a href="index4.html"><i class="bi bi-arrow-right-short"></i>Project Management</a>
                    </li>
                    <li> <a href="index5.html"><i class="bi bi-arrow-right-short"></i>CMS Dashboard</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon"><i class="bi bi-grid"></i>
                    </div>
                    <div class="menu-title">Application</div>
                </a>
                <ul>
                    <li> <a href="app-emailbox.html"><i class="bi bi-arrow-right-short"></i>Email</a>
                    </li>
                    <li> <a href="app-chat-box.html"><i class="bi bi-arrow-right-short"></i>Chat Box</a>
                    </li>
                    <li> <a href="app-file-manager.html"><i class="bi bi-arrow-right-short"></i>File Manager</a>
                    </li>
                    <li> <a href="app-to-do.html"><i class="bi bi-arrow-right-short"></i>Todo List</a>
                    </li>
                    <li> <a href="app-invoice.html"><i class="bi bi-arrow-right-short"></i>Invoice</a>
                    </li>
                    <li> <a href="app-fullcalender.html"><i class="bi bi-arrow-right-short"></i>Calendar</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="bi bi-graph-down"></i>
                    </div>
                    <div class="menu-title">Charts</div>
                </a>
                <ul>
                    <li> <a href="charts-apex-chart.html"><i class="bi bi-arrow-right-short"></i>Apex</a>
                    </li>
                    <li> <a href="charts-chartjs.html"><i class="bi bi-arrow-right-short"></i>Chartjs</a>
                    </li>
                    <li> <a href="charts-highcharts.html"><i class="bi bi-arrow-right-short"></i>Highcharts</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a class="has-arrow" href="javascript:;" aria-expanded="false">
                    <div class="parent-icon"><i class="bi bi-bookmark-star"></i>
                    </div>
                    <div class="menu-title">Components</div>
                </a>
                <ul>
                    <li><a class="has-arrow" href="javascript:;"><i class="bi bi-arrow-right-short"></i>Widgets</a>
                        <ul>
                            <li> <a href="widgets-static-widgets.html"><i class="bi bi-arrow-right-short"></i>Static Widgets</a>
                            </li>
                            <li> <a href="widgets-data-widgets.html"><i class="bi bi-arrow-right-short"></i>Data Widgets</a>
                            </li>
                        </ul>
                    </li>
                    <li> <a href="component-alerts.html"><i class="bi bi-arrow-right-short"></i>Alerts</a>
                    </li>
                    <li> <a href="component-accordions.html"><i class="bi bi-arrow-right-short"></i>Accordions</a>
                    </li>
                    <li> <a href="component-buttons.html"><i class="bi bi-arrow-right-short"></i>Buttons</a>
                    </li>
                    <li> <a href="component-cards.html"><i class="bi bi-arrow-right-short"></i>Cards</a>
                    </li>
                    <li> <a href="component-list-groups.html"><i class="bi bi-arrow-right-short"></i>List Groups</a>
                    </li>
                    <li> <a href="component-media-object.html"><i class="bi bi-arrow-right-short"></i>Media Objects</a>
                    </li>
                    <li> <a href="component-modals.html"><i class="bi bi-arrow-right-short"></i>Modals</a>
                    </li>
                    <li> <a href="component-navs-tabs.html"><i class="bi bi-arrow-right-short"></i>Navs &amp; Tabs</a>
                    </li>
                    <li> <a href="component-navbar.html"><i class="bi bi-arrow-right-short"></i>Navbar</a>
                    </li>
                    <li> <a href="component-popovers-tooltips.html"><i class="bi bi-arrow-right-short"></i>Popovers &amp; Tooltips</a>
                    </li>
                    <li> <a href="component-progress-bars.html"><i class="bi bi-arrow-right-short"></i>Progress</a>
                    </li>
                    <li> <a href="component-spinners.html"><i class="bi bi-arrow-right-short"></i>Spinners</a>
                    </li>
                    <li> <a href="component-notifications.html"><i class="bi bi-arrow-right-short"></i>Notifications</a>
                    </li>
                    <li> <a href="component-avtars-chips.html"><i class="bi bi-arrow-right-short"></i>Avatrs &amp; Chips</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a class="has-arrow" href="javascript:;" aria-expanded="false">
                    <div class="parent-icon"><i class="bi bi-lock"></i>
                    </div>
                    <div class="menu-title">Authentication</div>
                </a>
                <ul>
                    <li> <a href="authentication-signin.html" target="_blank"><i class="bi bi-arrow-right-short"></i>Sign In</a>
                    </li>
                    <li> <a href="authentication-signup.html" target="_blank"><i class="bi bi-arrow-right-short"></i>Sign Up</a>
                    </li>
                    <li> <a href="authentication-signin-with-header-footer.html" target="_blank"><i class="bi bi-arrow-right-short"></i>Sign In with Header &amp; Footer</a>
                    </li>
                    <li> <a href="authentication-signup-with-header-footer.html" target="_blank"><i class="bi bi-arrow-right-short"></i>Sign Up with Header &amp; Footer</a>
                    </li>
                    <li> <a href="authentication-forgot-password.html" target="_blank"><i class="bi bi-arrow-right-short"></i>Forgot Password</a>
                    </li>
                    <li> <a href="authentication-reset-password.html" target="_blank"><i class="bi bi-arrow-right-short"></i>Reset Password</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;" aria-expanded="false">
                    <div class="parent-icon icon-color-6"> <i class="bi bi-file-earmark-break"></i>
                    </div>
                    <div class="menu-title">Pages</div>
                </a>
                <ul>
                    <li> <a href="pages-user-profile.html"><i class="bi bi-arrow-right-short"></i>User Profile</a>
                    </li>
                    <li> <a href="pages-timeline.html"><i class="bi bi-arrow-right-short"></i>Timeline</a>
                    </li>
                    <li> <a href="pages-pricing-tables.html"><i class="bi bi-arrow-right-short"></i>Pricing</a>
                    </li>
                    <li> <a class="has-arrow" href="javascript:;"><i class="bi bi-arrow-right-short"></i>Errors</a>
                        <ul>
                            <li> <a href="pages-errors-404-error.html"><i class="bi bi-arrow-right-short"></i>404 Error</a>
                            </li>
                            <li> <a href="pages-errors-500-error.html"><i class="bi bi-arrow-right-short"></i>500 Error</a>
                            </li>
                            <li> <a href="pages-errors-coming-soon.html"><i class="bi bi-arrow-right-short"></i>Coming Soon</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;" aria-expanded="false">
                    <div class="parent-icon"><i class="bi bi-pencil-square"></i>
                    </div>
                    <div class="menu-title">Forms</div>
                </a>
                <ul>
                    <li> <a href="form-elements.html"><i class="bi bi-arrow-right-short"></i>Form Elements</a>
                    </li>
                    <li> <a href="form-input-group.html"><i class="bi bi-arrow-right-short"></i>Input Groups</a>
                    </li>
                    <li> <a href="form-layouts.html"><i class="bi bi-arrow-right-short"></i>Forms Layouts</a>
                    </li>
                    <li> <a href="form-validations.html"><i class="bi bi-arrow-right-short"></i>Form Validation</a>
                    </li>
                    <li> <a href="form-wizard.html"><i class="bi bi-arrow-right-short"></i>Form Wizard</a>
                    </li>
                    <li> <a href="form-date-time-pickes.html"><i class="bi bi-arrow-right-short"></i>Date Pickers</a>
                    </li>
                    <li> <a href="form-select2.html"><i class="bi bi-arrow-right-short"></i>Select2</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!--end navigation-->

<!--start content-->
<main class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">eCommerce</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Order details</li>
                </ol>
            </nav>
        </div>
        <div class="ms-auto">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Settings</button>
                <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
                    <a class="dropdown-item" href="javascript:;">Another action</a>
                    <a class="dropdown-item" href="javascript:;">Something else here</a>
                    <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
                </div>
            </div>
        </div>
    </div>
    <!--end breadcrumb-->

    <div class="card">
        <div class="card-header py-3">
            <div class="row g-3 align-items-center">
                <div class="col-12 col-lg-4 col-md-6 me-auto">
                    <h5 class="mb-1">Tue, Apr 15, 2020, 8:44PM</h5>
                    <p class="mb-0">Order ID : #8965327</p>
                </div>
                <div class="col-12 col-lg-3 col-6 col-md-3">
                    <select class="form-select">
                        <option>Change Status</option>
                        <option>Awaiting Payment</option>
                        <option>Confirmed</option>
                        <option>Shipped</option>
                        <option>Delivered</option>
                    </select>
                </div>
                <div class="col-12 col-lg-3 col-6 col-md-3">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary"><i class="bi bi-printer-fill"></i> Print</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-xl-2 row-cols-xxl-3">
                <div class="col">
                    <div class="card border shadow-none radius-10">
                        <div class="card-body">
                            <div class="d-flex align-items-center gap-3">
                                <div class="icon-box bg-light-primary border-0">
                                    <i class="bi bi-person text-primary"></i>
                                </div>
                                <div class="info">
                                    <h6 class="mb-2">Customer</h6>
                                    <p class="mb-1">Jhon Michle</p>
                                    <p class="mb-1">jhon@_78@example.com</p>
                                    <p class="mb-1">+91-9910XXXXXX</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border shadow-none radius-10">
                        <div class="card-body">
                            <div class="d-flex align-items-center gap-3">
                                <div class="icon-box bg-light-success border-0">
                                    <i class="bi bi-truck text-success"></i>
                                </div>
                                <div class="info">
                                    <h6 class="mb-2">Order info</h6>
                                    <p class="mb-1"><strong>Shipping</strong> : Red Express</p>
                                    <p class="mb-1"><strong>Pay Method</strong> : Master Card</p>
                                    <p class="mb-1"><strong>Status</strong> : New</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border shadow-none radius-10">
                        <div class="card-body">
                            <div class="d-flex align-items-center gap-3">
                                <div class="icon-box bg-light-danger border-0">
                                    <i class="bi bi-geo-alt text-danger"></i>
                                </div>
                                <div class="info">
                                    <h6 class="mb-2">Deliver to</h6>
                                    <p class="mb-1"><strong>City</strong> : Sydney, Australia</p>
                                    <p class="mb-1"><strong>Address</strong> : 47-A, Street Name, <br>Sydney Australia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->

            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="card border shadow-none radius-10">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table align-middle mb-0">
                                    <thead class="table-light">
                                    <tr>
                                        <th>Product</th>
                                        <th>Unit Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="orderlist">
                                                <a class="d-flex align-items-center gap-2" href="javascript:;">
                                                    <div class="product-box">
                                                        <img src="assets/images/products/01.png" alt="">
                                                    </div>
                                                    <div>
                                                        <P class="mb-0 product-title">Men White Polo T-shirt</P>
                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td>$35.00</td>
                                        <td>2</td>
                                        <td>$70.00</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="orderlist">
                                                <a class="d-flex align-items-center gap-2" href="javascript:;">
                                                    <div class="product-box">
                                                        <img src="assets/images/products/02.png" alt="">
                                                    </div>
                                                    <div>
                                                        <P class="mb-0 product-title">Formal Black Coat Pant</P>
                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td>$25.00</td>
                                        <td>1</td>
                                        <td>$25.00</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="orderlist">
                                                <a class="d-flex align-items-center gap-2" href="javascript:;">
                                                    <div class="product-box">
                                                        <img src="assets/images/products/03.png" alt="">
                                                    </div>
                                                    <div>
                                                        <P class="mb-0 product-title">Blue Shade Jeans</P>
                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td>$65.00</td>
                                        <td>2</td>
                                        <td>$130.00</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="orderlist">
                                                <a class="d-flex align-items-center gap-2" href="javascript:;">
                                                    <div class="product-box">
                                                        <img src="assets/images/products/04.png" alt="">
                                                    </div>
                                                    <div>
                                                        <P class="mb-0 product-title">Yellow Winter Jacket for Men</P>
                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td>$56.00</td>
                                        <td>1</td>
                                        <td>$56.00</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="orderlist">
                                                <a class="d-flex align-items-center gap-2" href="javascript:;">
                                                    <div class="product-box">
                                                        <img src="assets/images/products/05.png" alt="">
                                                    </div>
                                                    <div>
                                                        <P class="mb-0 product-title">Men Sports Shoes Nike</P>
                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td>$85.00</td>
                                        <td>1</td>
                                        <td>$85.00</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card border shadow-none bg-light radius-10">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-4">
                                <div>
                                    <h5 class="mb-0">Order Summary</h5>
                                </div>
                                <div class="ms-auto">
                                    <button type="button" class="btn alert-success radius-30 px-4">Confirmed</button>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <p class="mb-0">Subtotal</p>
                                </div>
                                <div class="ms-auto">
                                    <h5 class="mb-0">$198.00</h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <p class="mb-0">Shipping Price</p>
                                </div>
                                <div class="ms-auto">
                                    <h5 class="mb-0">$0.00</h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <p class="mb-0">Taxes</p>
                                </div>
                                <div class="ms-auto">
                                    <h5 class="mb-0">$24.00</h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <p class="mb-0">Payment Fee</p>
                                </div>
                                <div class="ms-auto">
                                    <h5 class="mb-0">$14.00</h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <p class="mb-0">Discount</p>
                                </div>
                                <div class="ms-auto">
                                    <h5 class="mb-0 text-danger">-$36.00</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card border shadow-none bg-warning radius-10">
                        <div class="card-body">
                            <h5>Payment info</h5>
                            <div class="d-flex align-items-center gap-3">
                                <div class="fs-1">
                                    <i class="bi bi-credit-card-2-back-fill"></i>
                                </div>
                                <div class="">
                                    <p class="mb-0 fs-6">Master Card **** **** 8956 </p>
                                </div>
                            </div>
                            <p>Business name: Template Market LLP <br>
                                Phone: +91-9910XXXXXX
                            </p>
                        </div>
                    </div>


                </div>
            </div><!--end row-->

        </div>
    </div>

</main>
<!--end page main-->


<!--start overlay-->
<div class="overlay nav-toggle-icon"></div>
<!--end overlay-->

<!--Start Back To Top Button-->
<a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
<!--End Back To Top Button-->

<!--start switcher-->
<div class="switcher-body">
    <button class="btn btn-primary btn-switcher shadow-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="bi bi-paint-bucket me-0"></i></button>
    <div class="offcanvas offcanvas-end shadow border-start-0 p-2" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Theme Customizer</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <h6 class="mb-0">Theme Variation</h6>
            <hr>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="LightTheme" value="option1" checked>
                <label class="form-check-label" for="LightTheme">Light</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="DarkTheme" value="option2">
                <label class="form-check-label" for="DarkTheme">Dark</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="SemiDarkTheme" value="option3">
                <label class="form-check-label" for="SemiDarkTheme">Semi Dark</label>
            </div>
            <hr>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="MinimalTheme" value="option3">
                <label class="form-check-label" for="MinimalTheme">Minimal Theme</label>
            </div>
            <hr/>
            <h6 class="mb-0">Header Colors</h6>
            <hr/>
            <div class="header-colors-indigators">
                <div class="row row-cols-auto g-3">
                    <div class="col">
                        <div class="indigator headercolor1" id="headercolor1"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor2" id="headercolor2"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor3" id="headercolor3"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor4" id="headercolor4"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor5" id="headercolor5"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor6" id="headercolor6"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor7" id="headercolor7"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor8" id="headercolor8"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end switcher-->