<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Cửa hàng</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Đơn hàng</li>
            </ol>
        </nav>
    </div>
    <div class="ms-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
                <a class="dropdown-item" href="javascript:;">Another action</a>
                <a class="dropdown-item" href="javascript:;">Something else here</a>
                <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
            </div>
        </div>
    </div>
</div>
<!--end breadcrumb-->

<div class="row">
    <div class="col-12 col-lg-9 d-flex">
        <div class="card w-100">
            <div class="card-header py-3">
                <div class="row g-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <div class="ms-auto position-relative">
                            <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i></div>
                            <input class="form-control ps-5" type="text" placeholder="search produts">
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select" ng-model="orderStatus">
                            <option value="1">Trạng thái</option>
                            <option value="1">Chờ duyệt</option>
                            <option value="2">Đã duyệt</option>
                            <option value="3">Đang gói hàng</option>
                            <option value="4">Giao hàng</option>
                            <option value="5">Vận chuyển</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select" ng-model="pageSize">
                            <option value="10">10</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle">
                        <thead class="table-light">
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Tổng thanh toán</th>
                            <th>Trạng thái</th>
                            <th>Ngày đặt</th>
                            <th>Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in orders">
                            <td>#{{order.Id}}</td>
                            <td>{{order.CustomerName}}</td>
                            <td>{{ order.TotalPayment | currency : ""}}</td>
                            <td><span class="badge rounded-pill alert-success">{{order.OrderStatusText}}</span></td>
                            <td>{{order.CreatedDate| date : "dd/MM/yyyy"}}</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 fs-6">
                                    <a ui-sref="order_detail({id: order.Id})" href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="View detail" aria-label="Views"><i class="bi bi-eye-fill"></i></a>
                                    <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Edit info" aria-label="Edit"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Delete" aria-label="Delete"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info"
                             id="example_info"
                             role="status"
                             aria-live="polite">
                            Hiển thị từ {{page * pageSize}} đến {{page * pageSize + orders.length}} trong tổng số {{totalCount}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7 d-flex justify-content-end ">
                        <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pageCount}}" total-count="{{totalCount}}" search-func="getListOrder(page)"></pager-directive>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3 d-flex">
        <div class="card w-100">
            <div class="card-header py-3">
                <h5 class="mb-0">Filter by</h5>
            </div>
            <div class="card-body">
                <form class="row g-3">
                    <div class="col-12">
                        <label class="form-label">Order ID</label>
                        <input type="text" class="form-control" placeholder="Order ID">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Customer</label>
                        <input type="text" class="form-control" placeholder="Customer name">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Order Status</label>
                        <select class="form-select">
                            <option>Published</option>
                            <option>Draft</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Total</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Date Added</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Date Modified</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-12">
                        <div class="d-grid">
                            <button class="btn btn-primary">Filter Product</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!--end row-->
