
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Cửa hàng</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Chi tiết đơn hàng</li>
                </ol>
            </nav>
        </div>
        <div class="ms-auto">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Settings</button>
                <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
                    <a class="dropdown-item" href="javascript:;">Another action</a>
                    <a class="dropdown-item" href="javascript:;">Something else here</a>
                    <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
                </div>
            </div>
        </div>
    </div>
    <!--end breadcrumb-->

    <div class="card">
        <div class="card-header py-3">
            <div class="row g-3 align-items-center">
                <div class="col-12 col-lg-4 col-md-6 me-auto">
                    <h5 class="mb-1">{{order.CreatedDate| date : "dd/MM/yyyy"}}</h5>
                    <p class="mb-0">Mã đơn hàng : #{{order.Id}}</p>
                </div>
                <div class="col-12 col-lg-3 col-6 col-md-3">
                    <select class="form-select" ng-model="order.OrderStatus">
                        <option value="1">Đang chờ duyệt</option>
                        <option value="2">Đã duyệt</option>
                        <option value="3">Đang gói hàng</option>
                        <option value="4">Đang vận chuyển</option>
                        <option value="5">Đã giao hàng</option>
                    </select>
                </div>
                <div class="col-12 col-lg-3 col-6 col-md-3">
                    <button type="button" class="btn btn-primary" ng-click="changeOrderStatus()">Lưu</button>
                    <button type="button" class="btn btn-secondary" ng-click="exportOrderToPdf()"><i class="bi bi-printer-fill"></i> In hóa đơn</button>
                </div>
            </div>
        </div>
        <div id="pdf" class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="card border shadow-none radius-10">
                        <div class="card-body">
                            <div class="d-flex align-items-center gap-3">
                                <div class="icon-box bg-light-primary border-0">
                                    <i class="bi bi-person text-primary"></i>
                                </div>
                                <div class="info">
                                    <h6 class="mb-2">Khách hàng</h6>
                                    <p class="mb-1"><strong>{{order.CustomerName}}</strong> - {{order.CustomerEmail}} - {{order.CustomerMobile}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card border shadow-none radius-10">
                        <div class="card-body">
                            <div class="d-flex align-items-center gap-3">
                                <div class="icon-box bg-light-success border-0">
                                    <i class="bi bi-truck text-success"></i>
                                </div>
                                <div class="info">
                                    <h6 class="mb-2">Thông tin đặt hàng</h6>
                                    <div style="display: flex; gap: 30px">
                                        <p class="mb-1"><strong>Phí vận chuyển: </strong>{{order.TransportFee | currency : "" : 0}}</p>
                                        <p class="mb-1"><strong>Trạng thái: </strong>{{order.PaymentStatus === true ? "Đã thanh toán" : "Chưa thanh toán"}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card border shadow-none radius-10">
                        <div class="card-body">
                            <div class="d-flex align-items-center gap-3">
                                <div class="icon-box bg-light-danger border-0">
                                    <i class="bi bi-geo-alt text-danger"></i>
                                </div>
                                <div class="info">
                                    <h6 class="mb-2">Địa chỉ</h6>
                                    <p class="mb-1"><strong>Địa chỉ</strong> : {{order.CustomerDeliveryAddress}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->

            <div class="row">
                <div class="col-12">
                    <div class="card border shadow-none radius-10">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table align-middle mb-0">
                                    <thead class="table-light">
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Giá</th>
                                        <th>Số lượng</th>
                                        <th>Tổng tiền</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="product in order.OrderDetails">
                                        <td>
                                            <div class="orderlist">
                                                <a class="d-flex align-items-center gap-2" href="javascript:;">
                                                    <div class="product-box">
                                                        <img src="{{product.Product.Image}}" alt="">
                                                    </div>
                                                    <div>
                                                        <P class="mb-0 product-title">{{product.Product.Name}}</P>
                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td>{{product.Price | currency : "" : 0}}</td>
                                        <td>{{product.Quantity}}</td>
                                        <td>{{product.Quantity * product.Price | currency : "" : 0}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card border shadow-none bg-light radius-10">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-4">
                                <div>
                                    <h5 class="mb-0">Tóm tắt đơn hàng</h5>
                                </div>
                                <div class="ms-auto">
                                    <button type="button" class="btn alert-success radius-30 px-4">{{OrderStatusText}}</button>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <p class="mb-0">Tổng tiền</p>
                                </div>
                                <div class="ms-auto">
                                    <h5 class="mb-0">{{Total | currency : "" : 0}}</h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <p class="mb-0">Phí vận chuyển</p>
                                </div>
                                <div class="ms-auto">
                                    <h5 class="mb-0">{{order.TransportFee | currency : "": 0}}</h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <p class="mb-0">Thuế ({{order.Vat}})%</p>
                                </div>
                                <div class="ms-auto">
                                    <h5 class="mb-0 text-danger">{{TotalVat | currency : "" : 0}}</h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <p class="mb-0">Tổng thanh toán</p>
                                </div>
                                <div class="ms-auto">
                                    <h5 class="mb-0 text-danger">{{TotalPayment | currency : "" : 0}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div><!--end row-->

        </div>
    </div>
    
    