
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic page needs
    ============================================ -->
    <title>Trang chủ</title>
    <meta charset="utf-8">
    <meta name="keywords" content="html5 template, best html5 template, best html template, html5 basic template, multipurpose html5 template, multipurpose html template, creative html templates, creative html5 templates" />
    <meta name="description" content="eMarket is a powerful Multi-purpose HTML5 Template with clean and user friendly design. It is definite a great starter for any eCommerce web project." />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->

    <link rel="shortcut icon" type="image/png" href="~/assets/client/ico/favicon-16x16.png" />


    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="~/assets/client/css/bootstrap/css/bootstrap.min.css">
    <link href="~/assets/client/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/client/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/assets/client/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/assets/client/css/themecss/lib.css" rel="stylesheet">
    <link href="~/assets/client/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="~/assets/client/js/minicolors/miniColors.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="~/assets/client/css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="~/assets/client/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="~/assets/client/css/themecss/so-categories.css" rel="stylesheet">
    <link href="~/assets/client/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="~/assets/client/css/themecss/so-newletter-popup.css" rel="stylesheet">

    <link href="~/assets/client/css/footer/footer2.css" rel="stylesheet">
    <link href="~/assets/client/css/header/header2.css" rel="stylesheet">
    <link href="~/assets/client/css/home2.css" rel="stylesheet">
    <link href="~/assets/client/css/responsive.css" rel="stylesheet">

    <!-- Google web fonts
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body {
            font-family: 'Roboto', sans-serif
        }
    </style>
    <link href="~/assets/libs/toast/toastr.css" rel="stylesheet" />




</head>

<body class="common-home res layout-2" ng-app="shop" ng-controller="rootController">

    <div ui-view>

    </div>
    <!-- End Color Scheme
    ============================================ -->
    <!-- Include Libs & Plugins
    ============================================ -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/assets/client/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/assets/client/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/client/js/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="/assets/client/js/themejs/libs.js"></script>
    <script type="text/javascript" src="/assets/client/js/unveil/jquery.unveil.js"></script>
    <script type="text/javascript" src="/assets/client/js/countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/assets/client/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
    <script type="text/javascript" src="/assets/client/js/datetimepicker/moment.js"></script>
    <script type="text/javascript" src="/assets/client/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/assets/client/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/client/js/modernizr/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="/assets/client/js/minicolors/jquery.miniColors.min.js"></script>

    <!-- Theme files
    ============================================ -->
    <script type="text/javascript" src="/assets/client/js/themejs/application.js"></script>

    <script type="text/javascript" src="/assets/client/js/themejs/homepage.js"></script>

    <script type="text/javascript" src="/assets/client/js/themejs/so_megamenu.js"></script>
    <script type="text/javascript" src="/assets/client/js/themejs/addtocart.js"></script>

    <!--Begin AngularJs-->
    <script src="~/assets/libs/angular/angular.js"></script>
    <script src="~/assets/libs/angular-ui-router/angular-ui-router.js"></script>
    <script src="~/assets/libs/toast/toastr.min.js"></script>
    <script src="~/assets/libs/angular-material/angular-material.js"></script>
    <script src="~/assets/libs/angular-animate/angular-animate.js"></script>
    <script src="~/assets/libs/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/assets/libs/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/assets/libs/angular-aria/angular-aria.js"></script>
    <script src="~/assets/libs/bootbox/bootbox.js"></script>
    <script src="~/assets/libs/ckeditor/ckeditor.js"></script>
    <script src="~/assets/libs/ckfinder/ckfinder.js"></script>
    <script src="~/assets/libs/ngBootbox/ngBootbox.js"></script>
    <script src="~/assets/libs/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="~/assets/libs/angular-loading-bar/loading-bar.js"></script>
    <script src="~/assets/libs/angular-local-storage/angular-local-storage.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <script src="~/app/shared/modules/shop.common.js"></script>
    <script src="~/app/shared/filters/statusFilter.js"></script>
    <script src="~/app/shared/filters/statusBrandFilter.js"></script>
    <script src="~/app/shared/filters/statusDiscountFilter.js"></script>
    <script src="~/app/shared/directives/pagerDirective.js"></script>
    <script src="~/app/shared/services/notificationService.js"></script>
    <script src="~/app/shared/services/authData.js"></script>
    <script src="~/app/shared/services/authenticationService.js"></script>
    <script src="~/app/shared/services/loginService.js"></script>
    <script src="~/app/shared/services/apiService.js"></script>
    <script src="~/app/shared/services/commonService.js"></script>
    <script src="~/app/shared/services/compareTo.js"></script>
    <script src="~/app/shared/services/cartService.js"></script>

    <script src="~/app/components/header/header.module.js"></script>
    <script src="~/app/components/footer/footer.module.js"></script>
    <script src="~/app/components/home/list_product_one_home/list_product_one_home.module.js"></script>
    <script src="~/app/components/home/list_product_two_home/list_product_two_home.module.js"></script>
    <script src="~/app/components/home/list_post_home/list_post_home.module.js"></script>
    <script src="~/app/components/product_details/product_detail.module.js"></script>
    <script src="~/app/components/product_categories/product_categories.module.js"></script>
    <script src="~/app/components/product_tags/product_tag.module.js"></script>
    <script src="~/app/components/contact/contact.module.js"></script>
    <script src="~/app/components/carts/carts.module.js"></script>
    <script src="~/app/components/checkout/checkout.module.js"></script>

    <script src="~/app/app.js"></script>

    <script src="~/app/components/home/root.controller.js"></script>
    <script src="~/app/components/header/header.controller.js"></script>
    <script src="~/app/components/footer/footer.controller.js"></script>
    <script src="~/app/components/home/list_product_one_home/list_product_one_home.controller.js"></script>
    <script src="~/app/components/home/list_product_two_home/list_product_two_home.controller.js"></script>
    <script src="~/app/components/home/list_post_home/list_post_home.controller.js"></script>
    <script src="~/app/components/product_details/product_detail.controller.js"></script>
    <script src="~/app/components/product_categories/product_categories.controller.js"></script>
    <script src="~/app/components/product_tags/product_tag.controller.js"></script>
    <script src="~/app/components/contact/contact.controller.js"></script>
    <script src="~/app/components/register/register.controller.js"></script>
    <script src="~/app/components/login/login.controller.js"></script>
    <script src="~/app/components/carts/carts.controller.js"></script>
    <script src="~/app/components/checkout/checkout.controller.js"></script>

    <script src="~/app/components/home/home.controller.js"></script>

</body>
</html>