<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="module so-deals-ltr deals-layout2">
            <h3 class="modtitle"><span>Ưu đãi trong tuần</span></h3>
            <div class="modcontent">
                <div id="so_deal_1" class="so-deal style2">
                    <div class="extraslider-inner products-list yt-content-slider" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="1" data-items_column1="1" data-items_column2="2" data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                        <div class="item" ng-repeat="item in $ctrl.listProductDealsOfTheWeek">
                            <div class="product-thumb">
                                <div class="row">
                                    <div class="inner">
                                        <div class="item-left col-lg-6 col-md-5 col-sm-5 col-xs-12">
                                            <div class="image">
                                                <span class="label-product label-product-sale">
                                                    -{{item.PromotionPrice}}%
                                                </span>
                                                <a href="#" target="_self" title="product">
                                                    <img src="{{item.Image}}" alt="Yutculpa ullamco" class="img-responsive">
                                                </a>
                                                <div class="button-group so-quickview">
                                                    <button class="btn-button addToCart" title="Thêm giỏ hàng" type="button" onclick="cart.add('69');">
                                                        <i class="fa fa-shopping-basket"></i>  <span>Thêm giỏ hàng</span>
                                                    </button>
                                                    <button class="btn-button wishlist" type="button" title="Yêu thích" onclick="wishlist.add('69');">
                                                        <i class="fa fa-heart"></i><span>Yêu thích</span>
                                                    </button>
                                                    <button class="btn-button compare" type="button" title="So sánh" onclick="compare.add('69');">
                                                        <i class="fa fa-refresh"></i><span>So sánh</span>
                                                    </button>
                                                    <!--quickview-->
                                                    <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Xem lướt qua" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Xem lướt qua</span></a>
                                                    <!--end quickview-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-right col-lg-6 col-md-7 col-sm-7 col-xs-12">
                                            <div class="caption">
                                                <h4><a href="#" target="_self" title="{{item.Name}}">{{item.Name}}</a></h4>
                                                <p class="price">
                                                    <span class="price-new">{{item.PriceAfterDiscount | currency : "" : 0}}</span>
                                                    <span class="price-old">{{item.Price | currency : "" : 0}}</span>
                                                </p>

                                                <div class="item-available">
                                                    <div class="row">
                                                        <p class="col-xs-6 a1">
                                                            Còn sẵn: <b>{{item.Quantity}}</b>
                                                        </p>
                                                        <p class="col-xs-6 a2">
                                                            Đã bán: <b>{{item.QuantityHasSell}}</b>
                                                        </p>
                                                    </div>
                                                    <div class="available">
                                                        <span class="color_width" data-title="100%" data-toggle="tooltip" title="100%" style="width: 100%"></span>
                                                    </div>
                                                </div>
                                                <!--countdown box-->
                                                <div class="item-time-w">
                                                    <div class="time-title"><span>Nhanh lên!</span> Ưu đãi kết thúc sau:</div>
                                                    <div class="item-time">
                                                        <div class="item-timer">
                                                            <div class="defaultCountdown-30">{{item.EndDiscountDate | date : "dd/MM/yyyy"}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end countdown box-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <!-- Listing tabs -->
        <div class="module listingtab-layout2">
            <h3 class="modtitle"><span>Bán nhiều nhất</span></h3>
            <div id="so_listing_tabs_1" class="so-listing-tabs first-load">
                <div class="loadeding"></div>
                <div class="ltabs-wrap">
                    <div class="ltabs-tabs-container" data-rtl="yes" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="" data-type_source="0" data-lg="4" data-md="3" data-sm="2" data-xs="1" data-margin="30">
                        <!--Begin Tabs-->
                        <div class="ltabs-tabs-wrap">
                            <span class="ltabs-tab-selected">Bathroom</span> <span class="ltabs-tab-arrow">▼</span>
                            <div class="item-sub-cat">
                                <ul class="ltabs-tabs cf">
                                    <li class="ltabs-tab tab-sel" data-active-content=".items-category-20" ng-click="$ctrl.handlerEventClickChooseProductCategory($ctrl.threeProductCategoryBestSelling[0].Id, 10)"> <span class="ltabs-tab-label">{{$ctrl.threeProductCategoryBestSelling[0].Name}}</span> </li>
                                    <li class="ltabs-tab "  data-active-content=".items-category-20" ng-click="$ctrl.handlerEventClickChooseProductCategory($ctrl.threeProductCategoryBestSelling[1].Id, 10)"> <span class="ltabs-tab-label">{{$ctrl.threeProductCategoryBestSelling[1].Name}}</span> </li>
                                    <li class="ltabs-tab " data-active-content=".items-category-20" ng-click="$ctrl.handlerEventClickChooseProductCategory($ctrl.threeProductCategoryBestSelling[2].Id, 10)"> <span class="ltabs-tab-label">{{$ctrl.threeProductCategoryBestSelling[2].Name}}</span> </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Tabs-->
                    </div>

                    <div class="ltabs-items-container products-list grid">
                        <!--Begin Items-->
                        <div class="ltabs-items ltabs-items-selected items-category-20" data-total="16">
                            <div class="ltabs-items-inner ltabs-slider">
                                <div class="ltabs-item" ng-repeat="twoProduct in $ctrl.listProductBestSelling">
                                    <div class="item-inner product-layout transition product-grid">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img">
                                                    <a href="product.html" target="_self" title="{{twoProduct[0].Name}}">
                                                        <img src="{{twoProduct[0].Image}}" class="img-1 img-responsive" alt="Pastrami bacon">
                                                        <img src="{{twoProduct[0].Image}}" class="img-2 img-responsive" alt="Pastrami bacon">
                                                    </a>
                                                </div>
                                                <div ng-if="twoProduct[0].StatusDiscount" class="box-label"> <span class="label-product label-sale"> -{{twoProduct[0].PromotionPrice}}% </span></div>
                                                <div class="button-group so-quickview cartinfo--left">
                                                    <button type="button" class="addToCart btn-button" title="Thêm giỏ hàng" onclick="cart.add('60 ');">
                                                        <i class="fa fa-shopping-basket"></i>
                                                        <span>Thêm giỏ hàng </span>
                                                    </button>
                                                    <button type="button" class="wishlist btn-button" title="Yêu thích" onclick="wishlist.add('60');">
                                                        <i class="fa fa-heart"></i><span>Yêu thích</span>
                                                    </button>
                                                    <button type="button" class="compare btn-button" title="So sánh " onclick="compare.add('60');">
                                                        <i class="fa fa-refresh"></i><span>So sánh</span>
                                                    </button>
                                                    <!--quickview-->
                                                    <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Xem lướt qua" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Xem lướt qua</span></a>
                                                    <!--end quickview-->
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <div class="rating">
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                    </div>
                                                    <h4><a href="product.html" title="Pastrami bacon" target="_self">{{twoProduct[0].Name}}</a></h4>
                                                    <div ng-if="twoProduct[0].StatusDiscount" class="price">
                                                        <span class="price-new">{{twoProduct[0].PriceAfterDiscount | currency : "" : 0}}</span>
                                                        <span class="price-old">{{twoProduct[0].Price | currency : "" : 0}}</span>
                                                    </div>
                                                    <div ng-if="twoProduct[0].StatusDiscount == false || twoProduct[0].StatusDiscount == null" class="price">
                                                        {{twoProduct[0].Price | currency : "" : 0}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="twoProduct[1]" class="item-inner product-layout transition product-grid">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img">
                                                    <a href="product.html" target="_self" title="{{twoProduct[1].Name}}">
                                                        <img src="{{twoProduct[1].Image}}" class="img-1 img-responsive" alt="image">
                                                        <img src="{{twoProduct[1].Image}}" class="img-2 img-responsive" alt="Pastrami bacon">
                                                    </a>
                                                </div>
                                                <div ng-if="twoProduct[1].StatusDiscount" class="box-label"> <span class="label-product label-sale"> -{{twoProduct[1].PromotionPrice}}% </span></div>
                                                <div class="button-group so-quickview cartinfo--left">
                                                    <button type="button" class="addToCart btn-button" title="Thêm giỏ hàng" onclick="cart.add('60 ');">
                                                        <i class="fa fa-shopping-basket"></i>
                                                        <span>Thêm giỏ hàng </span>
                                                    </button>
                                                    <button type="button" class="wishlist btn-button" title="Yêu thích" onclick="wishlist.add('60');">
                                                        <i class="fa fa-heart"></i><span>Yêu thích</span>
                                                    </button>
                                                    <button type="button" class="compare btn-button" title="So sánh " onclick="compare.add('60');">
                                                        <i class="fa fa-refresh"></i><span>So sánh</span>
                                                    </button>
                                                    <!--quickview-->
                                                    <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Xem lướt qua" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Xem lướt qua</span></a>
                                                    <!--end quickview-->
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <div class="rating">
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                    </div>
                                                    <h4><a href="product.html" title="{{twoProduct[1].Name}}" target="_self">{{twoProduct[1].Name}}</a></h4>
                                                    <div ng-if="twoProduct[1].StatusDiscount" class="price">
                                                        <span class="price-new">{{twoProduct[1].PriceAfterDiscount | currency : "" : 0}}</span>
                                                        <span class="price-old">{{twoProduct[1].Price | currency : "" : 0}}</span>
                                                    </div>
                                                    <div ng-if="twoProduct[1].StatusDiscount == false || twoProduct[1].StatusDiscount == null" class="price">
                                                        {{twoProduct[1].Price | currency : "" : 0}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end Listing tabs -->
    </div>
</div>