<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>API - Shop by Đỗ Chí Hùng</title>
    <link href="~/Assets/style.css" rel="stylesheet" />
</head>
<body>
      @RenderBody()
    <script src="~/Assets/javascriptbe.js"></script>
</body>
</html>
